body {
  font-size: 16px;
  font-family: sans-serif; }

.navbar {
  background-color: #3D464D;
  margin-bottom: 0px; }

.navbar-default {
  border-color: #3D464D; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: #232E33; }

.navbar-header .navbar-brand {
  color: #00CDC1;
  font-weight: 1000; }
  .navbar-header .navbar-brand:hover {
    color: #00CDC1; }

.navbar-default .navbar-nav > li > a {
  color: #6E848A;
  font-weight: bold; }

.jumbotron {
  margin: 0px;
  background-color: #7C979E;
  margin-top: 51px; }
  .jumbotron h2 {
    color: #FFF;
    width: 50%; }
    .jumbotron h2 span {
      background-color: #F5AC5D; }

.main-article {
  padding-top: 10px;
  padding-bottom: 90px; }

.main-article-heading {
  font-weight: bolder;
  padding: 15px 0px; }

section {
  margin-bottom: 30px; }
  section > h3 {
    font-weight: bold;
    text-align: center; }

.thumbnail {
  padding: 0px;
  margin-top: 10px;
  border-radius: 5px; }
  .thumbnail h3 {
    color: #31D2C1;
    font-weight: 1000; }
  .thumbnail p {
    color: #9e9fa0;
    font-size: 1.5rem; }
  .thumbnail img {
    border-radius: 5px; }

.submenu {
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 20px; }
  .submenu ul {
    padding-left: 20px; }
  .submenu h4 {
    text-align: center;
    font-weight: bold; }
  .submenu li {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: -20px;
    padding-left: 20px; }
    .submenu li a {
      color: #31D2C1;
      text-decoration: none; }
    .submenu li:hover {
      background-color: #31D2C1; }
      .submenu li:hover a {
        color: white; }

.info {
  border: 1px solid #E6E6E6;
  border-radius: 5px; }

#topmost {
  padding: 0;
  margin: 0 auto;
  position: relative; }

#circle {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: -42%;
  bottom: 0;
  right: 0;
  margin: auto; }

.info-content .content {
  padding-top: 30px; }

#circle img {
  border-radius: 50%; }

.info-content {
  background-color: #E9E6E7;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 1.4rem; }

#send-button {
  text-align: center;
  background-color: #31D2C1;
  color: white;
  border-radius: 5px;
  padding: 6px 0px;
  font-size: 1.8rem; }

.content {
  width: 85%;
  margin: 0 auto; }

input, textarea {
  width: 100%;
  border-radius: 3px; }

.bold {
  font-weight: bold;
  padding-right: 20px; }

.message-area {
  background-color: #D7D2D1;
  padding: 20px 0px; }
  .message-area p {
    font-size: 1.4rem;
    padding-top: 10px;
    margin: 0px;
    color: #B8B5B6;
    font-weight: bold; }
  .message-area h4 {
    margin-top: 0px;
    font-weight: bolder;
    text-align: center; }

.map-area {
  background-color: #E9E6E7; }
  .map-area h4 {
    margin: 0px;
    font-weight: bolder;
    text-align: center;
    padding: 20px; }

.related {
  margin-top: 50px; }

.main-article p:first-of-type {
  font-size: 2rem; }
.main-article p:nth-of-type(2) {
  font-size: 1.4rem;
  color: #6B6B6B;
  line-height: 2.2rem; }
.main-article p:nth-of-type(3) {
  color: #6B6B6B;
  line-height: 2.2rem; }

.main-article-subheading {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #E9E9E9;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-weight: bolder; }
  .main-article-subheading span {
    background: #FFF;
    padding: 0 10px; }

.floated {
  float: right;
  width: 60%; }

#quote {
  border-left: 0px;
  padding: 35px 0px 0px 35px;
  font-style: italic;
  color: #8C9FA2; }

cite {
  float: right; }

#footer {
  background-color: #3D464D;
  padding: 20px 0px; }
  #footer h4 {
    color: #FFF;
    text-align: center;
    font-weight: bolder; }
  #footer p {
    text-align: center; }
    #footer p a {
      text-decoration: none;
      color: #6E848A; }
      #footer p a:hover {
        color: #FFF; }

/*# sourceMappingURL=style.css.map */
